.progress-container {
  --bullet-size: 12px;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  min-width: 60px;
  height: 100%;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress-line {
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 3px;
}

.progress-bullet {
  position: absolute;
  width: var(--bullet-size);
  height: var(--bullet-size);
  left: calc(-1 * var(--bullet-size) / 2);
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.progress-bullet .inner {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  cursor: pointer;
}
