.video-player {
  display: inline-block;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  user-select: none;
  background-color: #000;
}

.video-player.hide-controls {
  cursor: none;
}
