.volume-control {
  display: flex;
  align-items: center;
  height: 100%;
}

.volume-control .button {
  width: 40px;
  flex-shrink: 0;
}

.fullscreen .volume-control .volume-progress {
  width: 78px;
}

.volume-progress {
  max-width: 0;
  height: 40px;
  overflow: hidden;
  transition: max-width 0.8s ease-in 0s;
}

.volume-progress-inner {
  height: 100%;
  padding: 0 6px;
}

.volume-control:hover .volume-progress,
.volume-control[data-dragging-bullet='true'] .volume-progress {
  max-width: 999px;
}
