.volume-control {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 6px;
}

.volume-control .button {
  width: 40px;
  margin-right: 5px;
  flex-shrink: 0;
}

.fullscreen .volume-control .volume-progress {
  width: 78px;
}

.volume-progress {
  height: 40px;
}
