.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  padding: 20px;
}

.video.vertical {
  flex-shrink: 0;
  width: 30%;
}
